body{
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}

.site-header{
  width: 1440px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.logo-link{
  transition: opacity 0.4s ease;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.site-header-actions{
  display: flex;
  align-items: center;
}

.sitenav-list{
  /* display: flex; */
  list-style: none;
}

.sitenav-link{
  display: flex;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  color: #000;
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.sitenav-link:hover{
  color:#ff7500;
}

.sitenav-link:active{
  opacity: 0.6;
}

.h2, h3{
  font-family: "Roboto Condensed", "Arial", sans-serif;
}


.main-link{
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  background-color: #ff7500;
  color: #fff;
  text-decoration: none;
  transition: opasity 0.4s ease;
}

.main-link:hover{
  opacity: 0.8;
}

.main-link:active{
  opacity: 0.6;
}

.promo{
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#252420;
  color: #fff;
}

.hero{
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252420;
  color: #fff;
}

.hero-content{
  width: 390px;
}

.orange-line{
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.hero-heading{
  font-size: 40px;
  line-height: 1.2;
  font-family: "Roboto Condensed","Roboto", "Arial", sans-serif;
}

.hero-img{
  width: 510px;
  height: 510px;
}

.features-heading{
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.features-list{
  width: 1440px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.feature-icon-wrapper{
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
  ;
}

.feature-icon-wrapper{
  display: flex;
}

.feature-title{
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  line-height: 1.2;
  font-size: 24px;
}

.text-link{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  color: rgba(0, 0, 0, 1);

}

.hero-heading{
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  font-size: 40px;
  line-height: 48px;
}

.hero-text-paragraf{
  color: #ff7500;
}

/* site-footer */
.site-footer{
  width: 1440px;
  background-color: #f8f8f8;
}

.site-footer ul{
  list-style: none;
}

.site-footer-divider{
  height: 2px;
  background-color: rgba(37,36,32, 0.5px);
}

.site-footer-content{
  display: flex;
  justify-content:space-evenly;
}

.site-footer-links{
  width: 224px;
}

.site-footer-links a{
  text-decoration: none;
  color: #252420;
}

.site-footer-links a:hover {
  color:#ff7500;
}

.site-footer-links a:focus {
  opacity: 0.6;
  outline-color: lightseagreen;
}

.site-footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer-socials ul{
  display: flex;

}

.site-footer-socials a{
  color:#252420;
}

.site-footer-socials a:hover{
  color:#ff7500;
}

.site-footer-socials a:active{
  opacity: 0.6;
}

.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:lightgrey;
  color:#252420;
}